<template>
  <v-container fluid>
    <v-row>
      <v-col cols="3">
        <v-card>
          <v-card-title>
            <v-autocomplete
              v-model="route"
              :items="routes"
              label="route"
            ></v-autocomplete>
          </v-card-title>
          <v-card-text>
            <!-- vsjf -->
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="9">
        <v-card class="scroll">
          <v-card-title>
            <v-btn
              :href="fullRoute"
              target="_blank"
              text
              style="text-transform: none !important"
            >
              <v-icon text left>mdi-link</v-icon>
              <span>{{ fullRoute }}</span>
            </v-btn>
            <v-spacer />
          </v-card-title>
          <v-card-text>
            <v-card-text>
              <vue-json-pretty :data="data"> </vue-json-pretty>
            </v-card-text>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import routes from "~/assets/routes.json";
import { createHelpers } from "vuex-map-fields";

const { mapFields: mapConstants } = createHelpers({
  getterType: "constants/getField",
  mutationType: "constants/updateField",
});

export default {
  head: () => ({
    title: "home",
  }),
  components: {},
  data: () => ({
    data: null,
    route: "schedule?expand=schedule.linescore",
    routes: routes,
  }),
  computed: {
    ...mapConstants(["root"]),
    fullRoute() {
      return `${this.root}/api/v1/${this.route}`;
    },
  },
  async mounted() {
    await this.fetch(this.route);
  },
  watch: {
    route(val) {
      this.fetch(val);
    },
  },
  methods: {
    async fetch(str) {
      const data = await this.$axios.$post("/v1", {
        query: str,
      });

      // disclaimer takes care of this
      if (data.copyright) {
        delete data.copyright;
      }

      this.data = data;
    },
  },
};
</script>

<style scoped>
.scroll {
  overflow-y: scroll;
}
</style>