<template>
  <v-container fluid>
    <v-row dense>
      <v-col
        v-for="game in games"
        :key="game.gamePk"
        cols="12"
        sm="4"
        md="3"
        lg="2"
      >
        <game-element :game="game" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import GameElement from "~/components/GameElement.vue";

export default {
  head: () => ({
    title: "standings",
  }),
  components: {
    GameElement,
  },
  data: () => ({
    games: [],
  }),
  mounted() {
    this.fetch();
  },
  methods: {
    async fetch() {
      const data = await this.$axios.$post("/v1", {
        query: "schedule?expand=schedule.linescore",
      });
      if (data.dates.length > 0) {
        this.games = data.dates[0].games;
      }
    },
  },
};
</script>