<template>
  <v-container fluid>
    <v-row dense>
      <v-col
        v-for="team in teams"
        :key="team.id"
        cols="12"
        sm="4"
        md="3"
        lg="2"
      >
        <team-element :team="team" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import TeamElement from "~/components/TeamElement.vue";

export default {
  head: () => ({
    title: "teams",
  }),
  components: {
    TeamElement,
  },
  data: () => ({
    teams: [],
  }),
  mounted() {
    this.fetch();
  },
  methods: {
    async fetch() {
      const data = await this.$axios.$post("/v1", {
        query: "teams",
      });
      this.teams = data.teams.sort((a, b) =>
        a.abbreviation.localeCompare(b.abbreviation)
      );
    },
  },
};
</script>