<template>
  <v-container fluid>
    <v-row>
      <v-col v-if="false">
        <v-data-table
          dense
          :headers="headers"
          :items="indexedData"
          item-key="id"
        >
          <template v-slot:item.endpoint="{ item }">
            <a :href="`${root}${item.endpoint}`" target="_blank">{{
              item.endpoint
            }}</a>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <schema-form />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { createHelpers } from "vuex-map-fields";
import SchemaForm from "~/components/SchemaForm.vue";

const { mapFields: mapConstants } = createHelpers({
  getterType: "constants/getField",
  mutationType: "constants/updateField",
});
export default {
  head: () => ({
    title: "tools",
  }),
  components: { SchemaForm },
  data: () => ({
    configs: [],
    head: ["endpoint", "description", "output"],
  }),
  computed: {
    ...mapConstants(["root"]),
    headers() {
      return this.head.map((el) => ({
        text: el,
        value: el,
        sortable: true,
      }));
    },
    indexedData() {
      return this.configs.map((item, index) => ({
        id: index,
        ...item,
      }));
    },
  },
  async mounted() {
    const data = await this.fetch("/api/v1/configurations");

    // this.configs = await Promise.all(
    //   data.map(async (el) => {
    //     const output = await this.getOutput(el.endpoint);
    //     return {
    //       ...el,
    //       output: output,
    //     };
    //   })
    // );
  },
  methods: {
    pretty(obj) {
      return JSON.stringify(obj, null, 2); // spacing level = 2
    },
    async fetch(str) {
      // strip /api/v1/
      const data = await this.$axios.$post("/v1", {
        query: str.substr(8),
      });
      return data;
    },
    async getOutput(endpoint) {
      const o = await this.fetch(endpoint);
      return this.pretty(o);
    },
  },
};
</script>