<template>
  <v-card>
    <v-list-item>
      <team-avatar :abr="team.abbreviation" />
      <!-- {{ team.abbreviation }} -->
    </v-list-item>
    <v-divider />
    <v-list-item> {{ team.name }} </v-list-item>
  </v-card>
</template>

<script>
import TeamAvatar from "~/components/TeamAvatar.vue";

export default {
  props: {
    team: Object,
  },
  components: { TeamAvatar },
  data: () => ({}),
  methods: {},
};
</script>