<template>
  <div>
    <v-snackbar dark v-model="snackbar" color="red" :multi-line="false">
      <span>{{ copyright }}</span>
      <template v-slot:action="{ attrs }">
        <v-btn dark icon v-bind="attrs" @click="snackbar = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
    <v-footer
      :inset="!$vuetify.breakpoint.smAndDown"
      :absolute="$vuetify.breakpoint.smAndDown"
      app
    >
      <v-row align="center" class="caption">
        <v-col
          cols="12"
          md="4"
          class="text-center text-md-left font-weight-bold"
        >
          {{ license }} &copy {{ new Date().getFullYear() }} - Sebastien
          Blanchet</v-col
        >
        <v-col cols="12" md="4" class="text-center font-weight-bold">
          <icon-item
            url="https://nuxtjs.org/docs/2.x/get-started/installation"
            icon="mdi-nuxt"
            text="nuxtjs guide"
          />
          v{{ version }}
        </v-col>
        <v-col cols="12" md="4" class="text-center text-md-right">
          <icon-item
            size="18"
            :url="github"
            icon="mdi-code-tags"
            text="report a bug"
          />
          <icon-item
            size="18"
            :url="bugs"
            icon="mdi-bug-outline"
            text="see source code"
          />
        </v-col>
      </v-row>
    </v-footer>
  </div>
</template>


<script>
import IconItem from "~/components/IconItem.vue";
import { version, author, homepage, license } from "~/package.json";

export default {
  components: {
    IconItem,
  },
  data: () => ({
    snackbar: true,
    version: version,
    author: author,
    homepage: homepage,
    license: license,
    copyright: "",
  }),
  computed: {
    github() {
      return `${this.homepage}/tree/v${this.version}`;
    },
    bugs() {
      return `${this.homepage}/-/issues`;
    },
  },
  async mounted() {
    await this.getCopyright();
  },
  methods: {
    async getCopyright() {
      const data = await this.$axios.$post("/v1", {
        query: "schedule",
      });
      this.copyright = data.copyright;
    },
  },

  // watch: {
  //   "$vuetify.breakpoint.name"(value) {
  //     this.editSize(value);
  //   },
  // },
};
</script>