<template>
  <v-card>
    <v-list-item>
      <team-element v-if="home" :team="home" />
      <v-spacer />
      <span v-if="state != 'Preview'">{{ game.teams.home.score }}</span>
    </v-list-item>
    <v-divider />
    <v-list-item>
      <team-element v-if="away" :team="away" />
      <v-spacer />
      <span v-if="state != 'Preview'">{{ game.teams.away.score }}</span>
    </v-list-item>
    <v-divider />
    <v-list-item>
      <span v-if="state != 'Preview'"
        >{{ game.linescore.currentPeriodOrdinal }}
        {{ game.linescore.currentPeriodTimeRemaining }}</span
      >
      <span v-else>{{ gameTime }}</span>
      <v-spacer />
      <icon-item :icon="iconChevron" :text="iconDesc" :eventName="eventName" />
    </v-list-item>
    <v-list-item v-if="expand">
      <vue-json-pretty :data="game" />
    </v-list-item>
  </v-card>
</template>

<script>
import TeamElement from "~/components/TeamElement.vue";
import IconItem from "~/components/IconItem.vue";
export default {
  props: {
    game: Object,
  },
  components: {
    TeamElement,
    IconItem,
  },
  data: () => ({
    home: null,
    away: null,
    feed: null,
    expand: false,
  }),
  computed: {
    gameTime() {
      return this.game.gameDate;
    },
    state() {
      return this.game.status.abstractGameState != "Preview";
    },
    iconChevron() {
      return this.expand ? "mdi-chevron-up" : "mdi-chevron-down";
    },
    iconDesc() {
      return this.expand ? "hide json" : "show json";
    },
    eventName() {
      return `${this.game.gamePk}-expand-click`;
    },
  },
  created() {
    this.$nuxt.$on(this.eventName, this.handleEvent);
  },
  beforeDestroy() {
    this.$nuxt.$off(this.eventName);
  },
  async mounted() {
    await this.fetchAll();
  },
  methods: {
    handleEvent() {
      this.expand = !this.expand;
    },
    async fetchTeam(r) {
      // strip /api/v1/
      r = r.substr(8);
      const data = await this.$axios.$post("/v1", {
        query: r,
      });
      if (data.teams.length > 0) return data.teams[0];
    },
    async fetchAll() {
      this.home = await this.fetchTeam(this.game.teams.home.team.link);
      this.away = await this.fetchTeam(this.game.teams.away.team.link);
      // const feed = await this.$axios.$post("/v1", {
      //   query: `game/${this.game.gamePk}/linescore`,
      // });
    },
  },
};
</script>