<template>
  <v-container fluid>
    <v-row dense>
      <v-col
        v-for="game in games"
        :key="game.gamePk"
        cols="12"
        sm="4"
        md="2"
        lg="1"
      >
        <game-element :game="game" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import GameElement from "~/components/GameElement.vue";

export default {
  components: {
    GameElement,
  },
  data: () => ({
    games: [],
  }),
  mounted() {
    this.fetch();
  },
  methods: {
    async fetch() {
      const data = await this.$axios.$get(
        "https://statsapi.web.nhl.com/api/v1/schedule?expand=schedule.linescore"
      );
      console.log(data);
      this.games = data.dates[0].games;
    },
  },
};
</script>