
<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      :clipped="clipped"
      mini-variant
      expand-on-hover
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-avatar class="my-1 mx-3" size="45">
        <v-img
          src="logos/NHL.jpg"
          style="background-color: rgba(0, 0, 0, 0)"
        ></v-img>
      </v-avatar>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        icon
        @click.stop="$vuetify.theme.dark = !$vuetify.theme.dark"
        class="mx-5"
      >
        <v-icon v-text="themeIcon"></v-icon>
      </v-btn>
    </v-app-bar>
  </div>
</template>

<script>
import NavBar from "~/components/NavBar.vue";
import FooterBar from "~/components/FooterBar.vue";

export default {
  components: {
    NavBar,
    FooterBar,
  },
  data: () => ({
    clipped: true,
    drawer: true,
    fixed: false,
    items: [
      {
        icon: "mdi-apps",
        title: "home",
        to: "/",
      },
      {
        icon: "mdi-calendar",
        title: "schedule",
        to: "/schedule",
      },
      // {
      //   icon: "mdi-format-list-numbered",
      //   title: "standings",
      //   to: "/standings",
      // },
      {
        icon: "mdi-account-group",
        title: "teams",
        to: "/teams",
      },
      {
        icon: "mdi-tools",
        title: "tools",
        to: "/tools",
      },
    ],
    miniVariant: true,
    right: true,
    rightDrawer: false,
    title: "NHL API Explorer",
  }),
  computed: {
    themeIcon() {
      return this.$vuetify.theme.dark
        ? "mdi-decagram"
        : "mdi-rotate-45 mdi-moon-waxing-crescent";
    },
  },
};
</script>
