<template>
  <div>
    <v-form v-model="valid">
      <v-jsf v-model="model" :schema="schema" :options="options" />
    </v-form>
    <vue-json-pretty :data="model"> </vue-json-pretty>
  </div>
</template>

<script>
import schema from "~/assets/schema.json";

export default {
  data: () => ({
    valid: false,
    model: {},
    schema: schema,
  }),
  computed: {
    options() {
      return {
        context: {
          owner: {
            type: "organization",
            id: "5a5dc47163ebd4a6f438589b",
          },
          endpoint: this.$axios.defaults.baseURL,
        },
        idPrefix: "example-select-http-",
      };
    },
  },
};
</script>