<template>
  <v-avatar class="my-1" size="30">
    <v-img :src="srcStr" style="background-color: rgba(0, 0, 0, 0)"></v-img>
  </v-avatar>
</template>

<script>
export default {
  props: {
    abr: String,
  },
  components: {},
  data: () => ({}),
  computed: {
    srcStr() {
      return `logos/${this.abr}.png`;
    },
  },
  methods: {},
};
</script>