<template>
  <v-card flat>
    <v-list-item>
      <v-list-item-icon>
        <team-avatar :abr="team.abbreviation" />
      </v-list-item-icon>
      {{ team.abbreviation }}
    </v-list-item>
  </v-card>
</template>

<script>
import TeamAvatar from "~/components/TeamAvatar.vue";

export default {
  props: {
    team: Object,
  },
  components: { TeamAvatar },
  data: () => ({}),
  methods: {},
};
</script>